In [1]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [23]:
df = spark.read.csv('adult income.csv',header=True,inferSchema=True)

In [3]:
df.show()

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education.num|marital.status|       occupation|  relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 90|         Private| 77053|     HS-grad|            9|       Widowed|             null| Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|         Private|186061|Some-college|           10|       Widowed|             null|     Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 38|         Private|150601|        10th|            6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 41|         Private| 70037|Some-college|           10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|          null|  >50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 32|         Private|136204|     Masters|           14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55| United-States|  >50K|
| 51|            null|172175|   Doctorate|           16| Never-married|             null| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 46|         Private| 45363| Prof-school|           15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 45|         Private|172822|        11th|            7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76| United-States|  >50K|
| 57|         Private|317847|     Masters|           14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 22|         Private|119592|  Assoc-acdm|           12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|          null|  >50K|
| 34|         Private|203034|   Bachelors|           13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education.num: integer (nullable = true)
 |-- marital.status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital.gain: integer (nullable = true)
 |-- capital.loss: integer (nullable = true)
 |-- hours.per.week: integer (nullable = true)
 |-- native.country: string (nullable = true)
 |-- income: string (nullable = true)

In [5]:
print(df.head(1))

[Row(age=90, workclass='Private', fnlwgt=77053, education='HS-grad', education.num=9, marital.status='Widowed', occupation=None, relationship='Not-in-family', race='White', sex='Female', capital.gain=0, capital.loss=4356, hours.per.week=40, native.country='United-States', income='<=50K')]

In [6]:
df.select('fnlwgt','age').describe().show()

+-------+------------------+------------------+
|summary|            fnlwgt|               age|
+-------+------------------+------------------+
|  count|             32561|             32561|
|   mean|189778.36651208502| 38.58164675532078|
| stddev|105549.97769702264|13.640432553581295|
|    min|             12285|                17|
|    max|           1484705|                90|
+-------+------------------+------------------+

In [7]:
bal_col = df.select('education','age',)
bal_col.show()

+------------+---+
|   education|age|
+------------+---+
|     HS-grad| 90|
|     HS-grad| 82|
|Some-college| 66|
|     7th-8th| 54|
|Some-college| 41|
|     HS-grad| 34|
|        10th| 38|
|   Doctorate| 74|
|     HS-grad| 68|
|Some-college| 41|
|   Doctorate| 45|
| Prof-school| 38|
|   Bachelors| 52|
|     Masters| 32|
|   Doctorate| 51|
| Prof-school| 46|
|        11th| 45|
|     Masters| 57|
|  Assoc-acdm| 22|
|   Bachelors| 34|
+------------+---+
only showing top 20 rows

In [8]:
df.filter("age > 25").select('income','age').show()

+------+---+
|income|age|
+------+---+
| <=50K| 90|
| <=50K| 82|
| <=50K| 66|
| <=50K| 54|
| <=50K| 41|
| <=50K| 34|
| <=50K| 38|
|  >50K| 74|
| <=50K| 68|
|  >50K| 41|
|  >50K| 45|
|  >50K| 38|
|  >50K| 52|
|  >50K| 32|
|  >50K| 51|
|  >50K| 46|
|  >50K| 45|
|  >50K| 57|
|  >50K| 34|
|  >50K| 37|
+------+---+
only showing top 20 rows

In [9]:
from  pyspark.sql.functions import format_number, col

In [10]:
cols1 = ['education', 'income']
df.select(cols1).show()

+------------+------+
|   education|income|
+------------+------+
|     HS-grad| <=50K|
|     HS-grad| <=50K|
|Some-college| <=50K|
|     7th-8th| <=50K|
|Some-college| <=50K|
|     HS-grad| <=50K|
|        10th| <=50K|
|   Doctorate|  >50K|
|     HS-grad| <=50K|
|Some-college|  >50K|
|   Doctorate|  >50K|
| Prof-school|  >50K|
|   Bachelors|  >50K|
|     Masters|  >50K|
|   Doctorate|  >50K|
| Prof-school|  >50K|
|        11th|  >50K|
|     Masters|  >50K|
|  Assoc-acdm|  >50K|
|   Bachelors|  >50K|
+------------+------+
only showing top 20 rows

In [11]:
df.filter(df.sex == 'Female').show()

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education.num|marital.status|       occupation|  relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 90|         Private| 77053|     HS-grad|            9|       Widowed|             null| Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|         Private|186061|Some-college|           10|       Widowed|             null|     Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 29|         Private| 77009|        11th|            7|     Separated|            Sales| Not-in-family|White|Female|           0|        2754|            42| United-States| <=50K|
| 61|         Private| 29059|     HS-grad|            9|      Divorced|            Sales|     Unmarried|White|Female|           0|        2754|            25| United-States| <=50K|
| 59|    Self-emp-inc|107287|        10th|            6|       Widowed|  Exec-managerial|     Unmarried|White|Female|           0|        2559|            50| United-States|  >50K|
| 63|     Federal-gov| 39181|   Doctorate|           16|      Divorced|  Exec-managerial| Not-in-family|White|Female|           0|        2559|            60| United-States|  >50K|
| 51|         Private|197163| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|Female|           0|        2559|            50| United-States|  >50K|
| 37|Self-emp-not-inc|137527|   Doctorate|           16| Never-married|   Prof-specialty| Not-in-family|White|Female|           0|        2559|            60| United-States|  >50K|
| 54|         Private|161691|     Masters|           14|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        2559|            40| United-States|  >50K|
| 43|         Private|115806|     Masters|           14|      Divorced|  Exec-managerial|     Unmarried|White|Female|           0|        2547|            40| United-States|  >50K|
| 51|         Private|115066|Some-college|           10|      Divorced|     Adm-clerical|     Unmarried|White|Female|           0|        2547|            40| United-States|  >50K|
| 43|         Private|289669|     Masters|           14|      Divorced|   Prof-specialty|     Unmarried|White|Female|           0|        2547|            40| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [12]:
df.explain()

== Physical Plan ==
*FileScan csv [age#0,workclass#1,fnlwgt#2,education#3,education.num#4,marital.status#5,occupation#6,relationship#7,race#8,sex#9,capital.gain#10,capital.loss#11,hours.per.week#12,native.country#13,income#14] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/home/ubuntu/adult income.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<age:int,workclass:string,fnlwgt:int,education:string,education.num:int,marital.status:stri...

In [13]:
print("Total data points:", df.count())

Total data points: 32561

In [15]:
missing_field_df = df.na.drop(subset="workclass")
missing_field_df.show()
print("Total data points:", missing_field_df.count())

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education.num|marital.status|       occupation|  relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 90|         Private| 77053|     HS-grad|            9|       Widowed|             null| Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 66|         Private|186061|Some-college|           10|       Widowed|             null|     Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 38|         Private|150601|        10th|            6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 41|         Private| 70037|Some-college|           10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|          null|  >50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 32|         Private|136204|     Masters|           14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55| United-States|  >50K|
| 46|         Private| 45363| Prof-school|           15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 45|         Private|172822|        11th|            7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76| United-States|  >50K|
| 57|         Private|317847|     Masters|           14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 22|         Private|119592|  Assoc-acdm|           12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|          null|  >50K|
| 34|         Private|203034|   Bachelors|           13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 37|         Private|188774|   Bachelors|           13| Never-married|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

Total data points: 30727

In [16]:
missing_field_df = df.na.drop(subset="occupation")
missing_field_df.show()
print("Total data points:", missing_field_df.count())

+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education.num|marital.status|       occupation|  relationship| race|   sex|capital.gain|capital.loss|hours.per.week|native.country|income|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 82|         Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial| Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
| 54|         Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
| 41|         Private|264663|Some-college|           10|     Separated|   Prof-specialty|     Own-child|White|Female|           0|        3900|            40| United-States| <=50K|
| 34|         Private|216864|     HS-grad|            9|      Divorced|    Other-service|     Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|
| 38|         Private|150601|        10th|            6|     Separated|     Adm-clerical|     Unmarried|White|  Male|           0|        3770|            40| United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|           16| Never-married|   Prof-specialty|Other-relative|White|Female|           0|        3683|            20| United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|            9|      Divorced|   Prof-specialty| Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|
| 41|         Private| 70037|Some-college|           10| Never-married|     Craft-repair|     Unmarried|White|  Male|           0|        3004|            60|          null|  >50K|
| 45|         Private|172274|   Doctorate|           16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|           15| Never-married|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            45| United-States|  >50K|
| 52|         Private|129177|   Bachelors|           13|       Widowed|    Other-service| Not-in-family|White|Female|           0|        2824|            20| United-States|  >50K|
| 32|         Private|136204|     Masters|           14|     Separated|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            55| United-States|  >50K|
| 46|         Private| 45363| Prof-school|           15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 45|         Private|172822|        11th|            7|      Divorced| Transport-moving| Not-in-family|White|  Male|           0|        2824|            76| United-States|  >50K|
| 57|         Private|317847|     Masters|           14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 22|         Private|119592|  Assoc-acdm|           12| Never-married|Handlers-cleaners| Not-in-family|Black|  Male|           0|        2824|            40|          null|  >50K|
| 34|         Private|203034|   Bachelors|           13|     Separated|            Sales| Not-in-family|White|  Male|           0|        2824|            50| United-States|  >50K|
| 37|         Private|188774|   Bachelors|           13| Never-married|  Exec-managerial| Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|
| 29|         Private| 77009|        11th|            7|     Separated|            Sales| Not-in-family|White|Female|           0|        2754|            42| United-States| <=50K|
| 61|         Private| 29059|     HS-grad|            9|      Divorced|            Sales|     Unmarried|White|Female|           0|        2754|            25| United-States| <=50K|
+---+----------------+------+------------+-------------+--------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

Total data points: 30718

In [24]:
missing_field_df = df.na.drop(subset="nativecountry")
missing_field_df.show()
print("Total data points:", missing_field_df.count())

+---+----------------+------+------------+------------+--------------+-----------------+--------------+-----+------+-----------+-----------+------------+-------------+------+
|age|       workclass|fnlwgt|   education|educationnum|marital.status|       occupation|  relationship| race|   sex|capitalgain|capitalloss|hoursperweek|nativecountry|income|
+---+----------------+------+------------+------------+--------------+-----------------+--------------+-----+------+-----------+-----------+------------+-------------+------+
| 90|         Private| 77053|     HS-grad|           9|       Widowed|             null| Not-in-family|White|Female|          0|       4356|          40|United-States| <=50K|
| 82|         Private|132870|     HS-grad|           9|       Widowed|  Exec-managerial| Not-in-family|White|Female|          0|       4356|          18|United-States| <=50K|
| 66|         Private|186061|Some-college|          10|       Widowed|             null|     Unmarried|Black|Female|          0|       4356|          40|United-States| <=50K|
| 54|         Private|140359|     7th-8th|           4|      Divorced|Machine-op-inspct|     Unmarried|White|Female|          0|       3900|          40|United-States| <=50K|
| 41|         Private|264663|Some-college|          10|     Separated|   Prof-specialty|     Own-child|White|Female|          0|       3900|          40|United-States| <=50K|
| 34|         Private|216864|     HS-grad|           9|      Divorced|    Other-service|     Unmarried|White|Female|          0|       3770|          45|United-States| <=50K|
| 38|         Private|150601|        10th|           6|     Separated|     Adm-clerical|     Unmarried|White|  Male|          0|       3770|          40|United-States| <=50K|
| 74|       State-gov| 88638|   Doctorate|          16| Never-married|   Prof-specialty|Other-relative|White|Female|          0|       3683|          20|United-States|  >50K|
| 68|     Federal-gov|422013|     HS-grad|           9|      Divorced|   Prof-specialty| Not-in-family|White|Female|          0|       3683|          40|United-States| <=50K|
| 45|         Private|172274|   Doctorate|          16|      Divorced|   Prof-specialty|     Unmarried|Black|Female|          0|       3004|          35|United-States|  >50K|
| 38|Self-emp-not-inc|164526| Prof-school|          15| Never-married|   Prof-specialty| Not-in-family|White|  Male|          0|       2824|          45|United-States|  >50K|
| 52|         Private|129177|   Bachelors|          13|       Widowed|    Other-service| Not-in-family|White|Female|          0|       2824|          20|United-States|  >50K|
| 32|         Private|136204|     Masters|          14|     Separated|  Exec-managerial| Not-in-family|White|  Male|          0|       2824|          55|United-States|  >50K|
| 51|            null|172175|   Doctorate|          16| Never-married|             null| Not-in-family|White|  Male|          0|       2824|          40|United-States|  >50K|
| 46|         Private| 45363| Prof-school|          15|      Divorced|   Prof-specialty| Not-in-family|White|  Male|          0|       2824|          40|United-States|  >50K|
| 45|         Private|172822|        11th|           7|      Divorced| Transport-moving| Not-in-family|White|  Male|          0|       2824|          76|United-States|  >50K|
| 57|         Private|317847|     Masters|          14|      Divorced|  Exec-managerial| Not-in-family|White|  Male|          0|       2824|          50|United-States|  >50K|
| 34|         Private|203034|   Bachelors|          13|     Separated|            Sales| Not-in-family|White|  Male|          0|       2824|          50|United-States|  >50K|
| 37|         Private|188774|   Bachelors|          13| Never-married|  Exec-managerial| Not-in-family|White|  Male|          0|       2824|          40|United-States|  >50K|
| 29|         Private| 77009|        11th|           7|     Separated|            Sales| Not-in-family|White|Female|          0|       2754|          42|United-States| <=50K|
+---+----------------+------+------------+------------+--------------+-----------------+--------------+-----+------+-----------+-----------+------------+-------------+------+
only showing top 20 rows

Total data points: 31978